:root {
  --cyan: hsl(177, 68%, 64%);
  --dark-orange: hsl(12, 94%, 65%);
  --orange: hsl(33, 100%, 70%);
  --white: hsl(20, 33%, 98%);
  --black: hsl(244, 23%, 12%);
  --regular: 400;
  --bold: 700;
  --IBM: 'IBM Plex Sans', sans-serif;
}

body {
  background: var(--white) url(assets/bg-main-desktop.png) 0 top;
  background-position: top -175px left -175px;
  background-size: contain;
  /* min-height: 100vh; */
  /* max-width: 90%; */
  /* margin: auto; */
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  font-family: var(--IBM);
  font-weight: var(--bold);
  font-size: 88px;
  word-spacing: -1px;
  line-height: 88px;
}

h2 {
  font-family: var(--IBM);
  font-weight: var(--bold);
  font-size: 40px;
  line-height: 52px;
}

p {
  font-family: var(--IBM);
  font-size: 20px;
  line-height: 34px;
}

footer {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.desktop-pattern {
  position: absolute;
  width: 312px;
  height: 468px;
  right: 0px;
  bottom: 10px;
  top: -50px;
}

.logo {
  width: 146px;
  height: 32px;
  margin-bottom: 6rem;
  align-self: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 4rem;
  /* width: 80.5%; */
  margin: auto;
}

.top-text {
  width: 825px;
  margin-top: 30px;
  text-align: left;
  align-self: flex-start;
}

.top-title {
  max-width: 1015px;
}

.middle {
  justify-content: center;
  align-content: center;
  display: flex;
  margin-top: 250px;
}

.box {
  background: url(assets/bg-pattern-2.svg) no-repeat;
  background-position: top -50px left 300px;
  display: flex;
  height: 600px;
  background-color: var(--black);
  width: 1110px;
  position: relative;
  border-radius: 15px;
}

.phone {
  height: 642px;
  width: 312px;
  align-items: flex-start;
  margin-left: 115px;
  position: absolute;
  bottom: 150px;
}

.card-img {
  height: 75%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: relative;
  left: 200px;
}

.card {
  background-color: var(--dark-orange);
  color: var(--white);
  width: 446px;
  height: 625px;
  align-self: flex-end;
  padding: 3.7rem 3.8rem;
  position: relative;
  left: 550px;
  top: 75px;
  border-radius: 15px;
}

.card-title {
  margin-bottom: 15px;
}

.card-cost {
  margin-bottom: 40px;
  font-size: 65px;
}

.card-text {
  text-align: left;
  font-family: var(--IBM);
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 40px;
}

.month {
  font-size: 20px;
  font-weight: var(--regular);
}

.button {
  font-family: var(--IBM);
  padding: 14px 32px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 16px;
  width: 100%;
  font-weight: var(--bold);
}

.apple {
  background-color: var(--black);
  color: var(--white);
  margin-bottom: 10px;
}

.apple:hover {
  background-color: var(--cyan);
}

.android {
  background-color: var(--white);
  color: var(--black);
}

.android:hover {
  background-color: var(--orange);
}

.icon {
  display: inline;
  margin-right: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-top: 4rem;
  width: 1110px;
  height: 79px;
  /* margin: auto; */
  /* gap: 100px; */
}

.footer-text {
  width: 336px;
  height: 79px;
  font-family: var(--IBM);
  font-size: 16px;
  line-height: 26px;
}

.email {
  font-weight: var(--bold);
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  height: 20px;
}

.socials-img {
  justify-content: space-between;
}

.social-icon:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(80%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .desktop-pattern {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */
